NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_SSL=false
DATABASE_SYNCHRONIZE=false
DATABASE_LOGGING=true
JWT_ACCESS_SECRET=troque_esta_chave_por_uma_com_pelo_menos_32_caracteres_access
JWT_REFRESH_SECRET=troque_esta_chave_por_uma_com_pelo_menos_32_caracteres_refresh
AUTH_ACCESS_TOKEN_TTL_MINUTES=15
AUTH_REFRESH_TOKEN_TTL_DAYS=7
AUTH_COOKIE_SAME_SITE=lax
AUTH_COOKIE_DOMAIN=
AUTH_BCRYPT_ROUNDS=12
